<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body><!--after form submit=>>method-search for (post) req & action-whose route is (/posts)-->
    <form method="post" action="/posts"><!--name same as in backend to refer in api + textarea instead of input for large area-->
        <input placeholder="enter username" name="username" type="text"><br><br>
        <textarea placeholder="write your post" name="content" ></textarea><br>
        <button>Submit</button>
    </form>
</body>
</html>