<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
   <a href="http://localhost:8080/">Home</a>
    <br>
    <br>
<body><!--after form submit=>>method-search for (post) req & action-whose route is (/posts)-->
    <form method="post" action="/posts/<%=m.name%>"><!--name same as in backend to refer in api + textarea instead of input for large area-->
        <input placeholder="enter username" name="username" type="text"><br><br>
        <textarea placeholder="write your post" name="content" ></textarea><br>
        <button>Submit</button>
    </form><!--its submited as json->object(in console) if we console.log(req.body) -->
</body>
</html>