/*link html to css
1.by <link rel="stylesheet" href="">-in html head last
2.by <style> here </style>- in head last
link css to html(after 1)
3.by .logo type */
*{
    margin: 0;/* Reset default margin */
    font-family :Arial;/*set font for all elements*/
    border; border-box;/* ??*/
}
/* A <div> without content has no size (0x0),  
   so you need height/width or styling to make it visible */
/*a div spans horizontally and vertically by width and hieght
  deafult to left side 
  if not down by down and need in all child div horizontally in the parent div use display:flex */

  /*navigation bar*/
.navbar{/*full horizontal span as width not mentioned*/
    height: 60px;
    background-color: #0f1111;
    color: white;/*text colour*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;/*becomes flexible moves to left as new boxes add*/
}
/*box-1*/
.nav-logo{
    height: 50px;
    width: 100px;
}
/*<img> → visible by default (uses image’s size).
<div> with background-image → needs height & width, otherwise it won’t show.*/
.logo{
    height: 50px;
    width: 100%;
    background-image: url("amazon_logo.png");
    background-size: cover;/* ensures the image covers the box */
    
}
.border{
    border: 1px solid transparent;
}
/*border outside is the class of that div*/
.border:hover{
    border: 1px solid white;
}
/*box-2*/
.add-first{
    color: #cccccc;
    font-size: 0.85rem;/*rem- to make it responsive to screen resolution*/
    margin-left: 20px;
}
/*margin left as the tect start after the icon to see*/
.add-sec{
    font-size: 1rem;
    margin-left: 1px;
}
/*as icon and india shld be in same line so contain the parent div of both as display flex*/
.add-icon{
    display: flex;
    align-items: center;
}
/*box 3*/
.nav-search{
    display: flex;/*for same line of tags inside*//*must before justify contenet*/
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 5px;/*for 4 sides curve*/
}
.search-select{
    background-color: #E6E6E6;
    width: 50px;
    text-align: center;
    /*border-radius: 5px;for 4 corners*/
    /*for left top and bottom only*/
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px;
}
.search-input{
    width: 100%;/*this way give only to select and icon then search input occupies*/
    font-size: 1rem;
    border: none;/*by default border for input-box removed*/
    /*height 100% by deafult*/
}
.search-icon{
    width: 45px;
    /*here if this kept the input adjusts due to 100% width*/
    /*height 100% by deafult*/
    display: flex;/*must before justify contenet*/
    justify-content: center;/*horizontally center*/
    align-items: center;/*vertically center*/
    font-size: 1.2rem;/*to increase icon size*/
    background-color: rgb(255, 128, 0);
     border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px;
    color: #0f1111;/*for text and icons*/
}
.nav-search:hover{/*tells this style is all hover*/
    border: 2px solid orange;
}
/*box-4*/
span{/*direct use*/
    font-size: 0.7rem;
}
.navsign-second{
    font-size: 0.85rem;
    font-weight: 700;/*dark bolder intensity of text*/
}
/*box-6*/
.nav-cart i{/*combination of selectors*/
    font-size: 30px;/*text and icons font size and color is best*/
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/*panel*/
.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;/*for text*/
    display: flex;
    align-items: center;/*vertically*/
    justify-content: space-evenly;/*horizontally*/
}
.panel-ops p{/*for p*/
    display: inline;/*Setting display: inline makes each <p> behave like a word in a sentence.*/
    margin-left: 15px;
}/*display:inline vs display:flex=> ??? */
.panel-ops{
    width: 80%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/*hero section */
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;/*image fit*/
    height: 500px;
}